<div class="container" id="portfolio">
    <div class="row">
        <div class="col-sm-3 col-xs-6">
            <figure>
                <a href="https://secure-falls-41038.herokuapp.com" target="_blank"><img alt="The Cat Project" class="img-responsive" src="img/portfolio/the-cat-project.jpg"></a>
                <figcaption>Laravel app communicating with <a href="https://docs.thecatapi.com/" target="_blank">a REST API</a> (<a href="https://github.com/irinikp/The-Cat-Project" target="_blank">Source Code</a>)</figcaption>
            </figure>
        </div>
        <div class="col-sm-3 col-xs-6">
            <figure>
                <a href="https://github.com/irinikp/WP-starship-plugin" target="_blank"><img alt="The StarWars Project" class="img-responsive" src="img/portfolio/the-starwars-project.jpg"></a>
                <figcaption>WordPress Plugin communicating with <a href="https://www.swapi.co/" target="_blank">the Star Wars API</a> (<a href="https://github.com/irinikp/The-Cat-Project" target="_blank">Source Code</a>)</figcaption>
            </figure>
        </div>
    </div>
</div>
