        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Skills</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3" title="computer science">
                    <button data-toggle="modal" data-target="#computer_science_modal">
                        <img src="img/skills/computer_science.png" class="img-responsive" alt="Computer Science">
                    </button>
                </div>
                <div class="col-sm-3 portfolio-item" title="mathematics">
                    <button data-toggle="modal" data-target="#maths_modal">
                        <img src="img/skills/maths.png" class="img-responsive" alt="Slice of cake">
                    </button>
                </div>
                <div class="col-sm-3 portfolio-item" title="personality">
                    <button data-toggle="modal" data-target="#personality_modal">
                        <img src="img/skills/personality.png" class="img-responsive" alt="Circus tent">
                    </button>
                </div>
                <div class="col-sm-3 portfolio-item" title="languages">
                    <button data-toggle="modal" data-target="#languages_modal">
                        <img src="img/skills/languages.png" class="img-responsive" alt="Game controller">
                    </button>
                </div>
            </div>
        </div>
