<div class="container" id="skills">
    <div class="row">
        <div class="col-sm-3 col-xs-6 skills-item" title="mathematics" id="mathnormalscreen">
            <button data-toggle="modal" data-target="#maths_modal">
                <figure>
                    <img src="img/skills/maths.png" id="math_img" class="img-responsive" alt="Slice of cake">
                    <figcaption>Mathematical Areas of expertise</figcaption>
                </figure>
            </button>
        </div>
        <div class="col-sm-3 col-xs-6" title="computer science">
            <button data-toggle="modal" data-target="#computer_science_modal">
                <figure>
                    <img src="img/skills/computer_science.png" id="cs_img" class="img-responsive" alt="Computer Science">
                    <figcaption>Programming Languages &amp;<br/>Tools I love using</figcaption>
                </figure>
            </button>
        </div>
        <div class="col-sm-3 col-xs-6 skills-item" title="personality">
            <button data-toggle="modal" data-target="#personality_modal">
                <figure>
                    <img src="img/skills/personality.png" id="personal_img" class="img-responsive" alt="Circus tent">
                    <figcaption>Personality traits<br/>what makes me me!</figcaption>
                </figure>
            </button>
        </div>
        <div class="col-sm-3 col-xs-6 skills-item" title="mathematics" id="mathsmallscreen">
            <button data-toggle="modal" data-target="#maths_modal">
                <figure>
                    <img src="img/skills/maths.png" id="math_img2" class="img-responsive" alt="Slice of cake">
                    <figcaption>Mathematical Areas of expertise</figcaption>
                </figure>
            </button>
        </div>
        <div class="col-sm-3 col-xs-6 skills-item" title="languages">
            <button data-toggle="modal" data-target="#languages_modal">
                <figure>
                    <img src="img/skills/languages.png" id="lang_img" class="img-responsive" alt="Game controller">
                    <figcaption>Speaking Languages</figcaption>
                </figure>
            </button>
        </div>
    </div>
</div>
