<ul class="list-inline">
    <li>
        <a href="https://twitter.com/irinikp" target="_blank" class="btn-social btn-outline"><span class="sr-only">Twitter</span><i class="fa fa-fw fa-twitter"></i></a>
    </li>
    <li>
        <a href="https://www.linkedin.com/in/irini-koutaki/" target="_blank" class="btn-social btn-outline"><span class="sr-only">Linked In</span><i class="fa fa-fw fa-linkedin"></i></a>
    </li>
    <li>
        <a href="https://github.com/irinikp" target="_blank" class="btn-social btn-outline"><span class="sr-only">GitHub</span><i class="fa fa-fw fa-github"></i></a>
    </li>
    <li>
        <a href="https://stackoverflow.com/users/7690210/irini-koutaki" target="_blank" class="btn-social btn-outline"><span class="sr-only">Stack Overflow</span><i class="fa fa-fw fa-stack-overflow"></i></a>
    </li>
    <li>
        <a href="http://www.google.com/recaptcha/mailhide/d?k=01hzEQ2ov01YnR-kA-9bNmyA==&amp;c=JoO5LWp1-ceN13o220UrrZhd6Gu8uk8umygsNRQHfMQ=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\x3d01hzEQ2ov01YnR-kA-9bNmyA\x3d\x3d\x26c\x3dJoO5LWp1-ceN13o220UrrZhd6Gu8uk8umygsNRQHfMQ\x3d', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address" class="btn-social btn-outline"><i class="fa fa-fw fa-envelope"></i></a>
    </li>
</ul>
